.container::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    border-radius: 10px;
  }
  
  .container::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  
  .container::-webkit-scrollbar-thumb {
    background: transparent;
    opacity: 0.6;
    border-radius: 10px;
    height: 1px;
    -webkit-border-radius: 20ex;
    width: 2px;
  }
  